node_modules/
out/
packages/**/out/
*.vsix
.vscode-test/
.copilot-codeGeneration-instructions*.md
.env
sample/.translation-logs/
logs/project-translator.log/
go-translator/translator
*.tgz
packages/cli/*.tgz
