.vscode/**
.vscode-test/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
.gitignore
.yarnrc
**/*.ts
**/.prettier*
**/jest.config.*
coverage/**
test/**
sample/**
sample-dist/**
**/.git/**
**/.github/**
.eslintignore
.eslintrc.js
.prettierignore
.prettierrc
.copilot-codeGeneration-instructions.md
package-lock.json
